.subscribe-button{
  background-color: rgb(218, 13, 13);
  color: white;
  border: none;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: font-size 0.15s linear,
    opacity 0.15s linear;
}

.subscribe-button:hover {
  font-size: x-large;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscribe-button:active {
  opacity: 0.8;
}

.join-button{
  background-color: white;
  border-color: rgb(18, 116, 201);
  border-style: solid;
  color: rgb(18, 116, 201);
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
}

.join-button:hover {
  padding-left: 25px;
  padding-right: 25px;
}

.tweet-button{
  background-color: rgb(7, 151, 254);
  border-radius: 18px;
  font-size: large;
  font-weight: bold;
  font-style: inherit;
  border: none;
  height: 36px;
  width: 80px;
  color: white;
  cursor: pointer;
}

.uber-button{
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  margin-right: 50px;
  cursor: pointer;
}

.amazon-button{
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  margin-right: 50px;
  cursor: pointer;

}

.github-button{
  background-color: rgb(83, 190, 83);
  color: white;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 110px;
  font-size: large;
  font-weight: bold;
  margin-right: 50px;
  cursor: pointer;
}

.bootstrap-button1{
  background-color: rgb(121, 82, 179);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.bootstrap-button2 {
  background-color: white;
  color:rgb(108, 117, 125);
  font-size: medium;
  font-weight: bold;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  height: 50px;
  width: 140px;
  cursor: pointer;
}

.linkedin-button1 {
  background-color: rgb(10, 102, 194);
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: large;
  height: 55px;
  width: 310px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.5s linear,
    color 0.5s linear;
}

.linkedin-button1:hover {
  background-color: white;
  color: rgb(10, 102, 194);
}

.linkedin-button1:active {
  opacity: 0.8;
}

.linkedin-button2 {
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  border-radius: 25px;
  color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: large;
  height: 55px;
  width: 110px;
  cursor: pointer;
  transition: background-color 0.5s linear,
    color 0.5s linear;
}
.linkedin-button2:hover {
  background-color: rgb(10, 102, 194);
  color: white;
}

.linkedin-button2:active {
  opacity: 0.8;
}